<div class="new-product-container">
    <!-- Video Section -->
    <div class="video-container">
        <video autoplay [volume]="0" loop class="nike-video">
        <source src="assets/images/nike-video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  
    <!-- Product Information Section -->
    <div class="product-info">
      <p class="product-new">สินค้ามาใหม่</p>
      <h1 class="product-title">V2K RUN</h1>
      <p class="product-description">
        ก้าวล้ำนำเทรนด์ด้วยสไตล์สุดเท่โดดเด่นและเปี่ยมพลัง
        ลุคอมตะในซิลลูเอททรงนาฬิกาทรายที่ไม่เหมือนใครทำให้ V2K Run
        มีสไตล์ที่ยืดหยุ่นและเข้ากันได้ดีกับลุคประจำวันของคุณ
      </p>
      <button class="buy-button">เลือกซื้อเลย</button>
    </div>
  </div>
  