<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>ไอคอน</h3>
      <ul>
        <li>Air Force 1</li>
        <li>Huarache</li>
        <li>Air Max 90</li>
        <li>Air Max 95</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>รองเท้า</h3>
      <ul>
        <li>รองเท้าทั้งหมด</li>
        <li>รองเท้าออกแบบเอง</li>
        <li>รองเท้า Jordan</li>
        <li>รองเท้าวิ่ง</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>เสื้อผ้า</h3>
      <ul>
        <li>เสื้อผ้าทั้งหมด</li>
        <li>ชุดสุภาพ</li>
        <li>เสื้อฮู้ดและเสื้อแบบสวม</li>
        <li>เสื้อ</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>สำหรับเด็ก</h3>
      <ul>
        <li>รองเท้าสำหรับเด็ก</li>
        <li>รองเท้าเด็ก</li>
        <li>รองเท้าเด็ก Jordan</li>
        <li>รองเท้าบาสเก็ตบอลเด็ก</li>
      </ul>
    </div>
  </div>

  <div class="footer-divider-container">
    <div class="footer-divider"></div>
  </div>

  <div class="footer-lower">
    <div class="footer-section-lower">
      <h3>แหล่งข้อมูล</h3>
      <ul>
        <li>ค้นหาร้านค้า</li>
        <li>สมัครเป็น Member</li>
      </ul>
    </div>
    <div class="footer-divider-container-m">
      <div class="footer-divider-m"></div>
    </div>
    <div class="footer-section-lower">
      <h3>ความช่วยเหลือ</h3>
      <ul>
        <li>รับความช่วยเหลือ</li>
        <li>สถานะคำสั่งซื้อ</li>
        <li>การส่งมอบ</li>
        <li>การคืนสินค้า</li>
        <li>ทางเลือกการชำระเงิน</li>
        <li>ติดต่อเรา</li>
      </ul>
    </div>
    <div class="footer-divider-container-m">
      <div class="footer-divider-m"></div>
    </div>
    <div class="footer-section-lower">
      <h3>บริษัท</h3>
      <ul>
        <li>เกี่ยวกับ Nike</li>
        <li>ข่าวสาร</li>
        <li>ร่วมงานกับเรา</li>
        <li>ร่วมลงทุนกับเรา</li>
        <li>ความยั่งยืน</li>
      </ul>
    </div>
  </div>
  <div class="footer-divider-container-m">
    <div class="footer-divider-m"></div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-links">
      <a>&copy; 2024 Nike, Inc. สงวนลิขสิทธิ์</a>
      <a href="#">คำแนะนำ</a>
      <a href="#">เงื่อนไขการขาย</a>
      <a href="#">ข้อกำหนดการใช้</a>
      <a href="#">นโยบายความเป็นส่วนตัวของ Nike</a>
    </div>
  </div>
</footer>
