<div class="classic-products-container">
  <div class="classic-products-header">
    <h2>ความโดดเด่นสุดคลาสสิก</h2>
    <div class="nav-buttons">
      <button
        mat-button
        class="nav-btn left-btn"
        (click)="scrollLeft()"
        [disabled]="leftDisabled"
      >
        <mat-icon class="btn-arrow-L">arrow_back_ios</mat-icon>
      </button>
      <button
        mat-button
        class="nav-btn right-btn"
        (click)="scrollRight()"
        [disabled]="rightDisabled"
      >
        <mat-icon class="btn-arrow-R">arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>

  <div class="scroll-container" #productContainer>
    <div class="classic-products">
      <div
        class="classic-products-card flex-item"
        *ngFor="let product of products"
      >
        <img [src]="product.src" [alt]="product.alt" />
      </div>
    </div>
  </div>
</div>
