<div class="not-miss-container">
    <div class="images-container">
        <h2>ห้ามพลาด</h2>
        <img src="assets/images/banner-3.png" alt="" class="nike-image" />
    </div>
  
    <div class="product-info">
      <p class="product-new">Jordan Spizike ผู้ชาย</p>
      <h1 class="product-title">เพราะรีมิกซ์มาแน่ๆ</h1>
      <p class="product-description">
        กลับมาเหมือนไม่เคยหายไปไหน Air Jordan ห้ารุ่นเรโทรประกอบกันอยู่ใน Spizike สุดคลาสสิก
      </p>
      <button class="buy-button">เลือกซื้อ</button>
    </div>
  </div>
  